@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

.Container {
  display: flex;
  justify-content: flex-end;
  a {
    margin: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    &:hover {
      transition: 0.3s;
      font-size: 22px;
    }
  }
  &-divider {
    font-size: 22px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
  }
}
