.Container {
  display: flex;
  justify-content: flex-end;
  a {
    margin: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    &:hover {
      transition: 0.3s;
      font-size: 22px;
    }
  }
  &-divider {
    font-size: 18px;
    color: white;
    margin-top: 12px;
    font-weight: bold;
  }
}
